<h2>Edit Admin</h2>
<form (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">First Name:</label>
    <input id="firstName" [(ngModel)]="admin.firstName" name="firstName" required>
  </div>

  <div>
    <label for="lastName">Last Name:</label>
    <input id="lastName" [(ngModel)]="admin.lastName" name="lastName" required>
  </div>


  <div>
    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="admin.email" name="email" required>
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" [(ngModel)]="admin.password" name="password">
  </div>

  <div>
    <label for="city">City:</label>
    <input id="city" type="text" [(ngModel)]="admin.city" name="city">
  </div>
  <div>
    <label for="country">Country:</label>
    <input id="country" type="text" [(ngModel)]="admin.country" name="country">
  </div>
  <div>
    <label for="phone">Phone number:</label>
    <input id="phone" type="text" [(ngModel)]="admin.phone" name="phone">
  </div>

  <button type="submit">Save Changes</button>
</form>
