<div class="wrapper">
  <div class="inner-wrap">
   
    <div
      class="reg-user"
      
    >
    
      
    </div>

    <div class="buttons">
      <a
        raised-button
        *ngIf="isLogged "
        routerLinkActive="active"
        [routerLink]="['home']"
        class="link"
      >
      Home
      </a>
  

      <button
        *ngIf="isLogged "
        class="nbuttonEnd"
        (click)="onLogout()"
      >
        Logout
      </button>
    </div>
    <div class="log-out" *ngIf="!isLogged">
      <button class="nbuttonEnd" [routerLink]="['login']">Login</button>
    </div>
  </div>
</div>