.wrapper {
  display: flex;
  flex-direction: space-between;
  align-items: center;
  height: 9%;
  padding-right: 10px;
  background-color: #266d6f;
}
.inner-wrap {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}


.spacer {
  flex: 0.95;
}
.link img {
  width: 400px;
  height: auto;
}

.nbutton {
  margin: 0;
  height: 100%;
  font-size: 22px;
  font-family: Georgia, serif;
  font-weight: medium;

  border: none;
  border-radius: 4px;
  background-color: rgb(212, 243, 232);
  cursor: pointer;
  text-align: center;
}
.log-out{
  width: 90%;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}
.nbuttonEnd {
  padding-right: 10px;
  height: 100%;
  font-size: 22px;
  font-family: Georgia, serif;
  font-weight: medium;

  border: none;
  border-radius: 4px;
  background-color: rgb(212, 243, 232);
  cursor: pointer;
  text-align: center;
}

.reg-user{
  width: 100%;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}


.link {
  color: #ffffff; 
  font-size: 18px; 
  font-family: 'Helvetica Neue', sans-serif; 
  text-decoration: none; 
  padding: 10px 10px; 
  border-radius: 5px; 
  transition: color 0.3s, background-color 0.3s; 
}


.link:hover {
  color: #4D9D94; 
  background-color: rgba(255, 255, 255, 0.2); 
}



.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}