    <h2>Change Password</h2>
    <form (ngSubmit)="changePasswordFirstLogin()">
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      </div>
      <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </div>
      <button type="submit">Change Password</button>
    </form>
  