.success-message-panel {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.success-icon {
    font-size: 32px;
    margin-bottom: 10px;
}
  
.success-message {
    font-size: 18px;
    font-weight: bold;
}

mat-card {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    text-align: center; /* Center the content */
}

mat-card-title {
    font-size: 24px; /* Increase title font size */
    margin-bottom: 20px; /* Add more bottom margin for the title */
}

mat-form-field {
    width: 100%;
    margin-bottom: 24px; /* Add more bottom margin for the form fields */
    text-align: left; /* Reset text alignment for form fields */
}



.error-message-panel {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.error-icon {
    font-size: 32px;
    margin-bottom: 10px;
}

.error-message {
    font-size: 18px;
    font-weight: bold;
}

  